<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
        .container {
            max-width: 560px;
        }

</style>
<head th:replace="fragment/header.html :: fragment-header" />
<body>
    <nav th:replace="fragment/nav.html :: fragment-nav"></nav>
    <div class="container" id="nftgram_wrap">
        <div  id="nftgram-wallet" class="wallet-wrap">
            <div class="wallet-content">
                <h4 class="title">WALLET CONNECT</h4>
                <div class="wallet-btn-group">
                    <button class="btn-metamask" type="submit">MetaMask</button>
                </div>
                <div class="wallet-msg">
                    You can see all the collections<br>
                    through one account synchronization
                </div>
                <div id="output"></div>
            </div>
        </div>

    </div> <!-- /container -->
    <script>

    </script>
</body>
</html>