<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/header.html :: fragment-header" />

<body>
<!-- Navigation-->
<div th:replace="/fragment/nav.html :: fragment-nav"></div>

<!-- Section-->
<section class="py-5" >
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            <div class="col mb-5" th:each="nft: ${nftList}">
                <!--/*@thymesVar id="nft" type="com.nftgram.core.domain.nftgram.Nft"*/-->
                <!--/*@thymesVar id="nft" type="com.nftgram.web.main.dto.MainResponse"*/-->
                <div class="card h-100">
                    <!-- Product image-->
                    <p>
                        <a class="btn btn-lg btn-secondary" href="/gallery" th:href="@{'/gallery/'+${nft.nftCollectionId}}">
                    <img class="card-img-top" th:src="${nft.nftImageUrl}" th:alt="${nft.name}" />
                        </a>
                    </p>
                    <!-- Product actions-->
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col">
                                <img th:src="${nft.userImageUrl}" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col">
                                <p class="card-title" th:text="${nft.likeCount}">EH</p>
                            </div>
                            <div class="col">
                                <p class="card-text">LI</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="col mb-5">
                <div class="card h-100">
                    <p>
                        <a class="btn btn-lg btn-secondary" href="/gallery">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                        </a>
                    </p>
                    <div class="card bg-transparent">
                        <div class="text-left mt-3">
                            <a class="btn btn-outline-dark " href="#">Left</a>
                            <a class="btn btn-outline-dark " href="#">Right1</a>
                            <a class="btn btn-outline-dark " href="#">Right2</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col mb-5">
                <div class="card h-100">
                    &lt;!&ndash; Product image&ndash;&gt;
                    <a class="btn btn-lg btn-secondary" href="/gallery">
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    </a>
                    &lt;!&ndash; Product actions&ndash;&gt;
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col">
                                <img src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col">
                                <p class="card-title">EH</p>
                            </div>
                            <div class="col">
                                <p class="card-text">LI</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>
</section>
<div th:replace="/fragment/footer.html :: fragment-footer" />
</body>
</html>