<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/header.html :: fragment-header" />

<body>
<!-- Navigation-->
<div th:replace="fragment/nav.html :: fragment-nav"></div>

<!-- Section-->
<section class="py-5 main-gallery-container" >
    <div class="container px-lg-5 " >
        <div class="nftgram-tag " id="nftgram-tag"></div>
    </div>
    <div class="container px-lg-5 mt-3" id="nftgram_wrap">
        <input type="hidden" name="page" value="1" />
        <div class="card-deck" id="nftgram-list">
        </div>
    </div>

</section>
<div class="simple-keyboard" id="search-keyboard" style="color: black; position: absolute; bottom: 0; left: 0; display: none; z-index: 9999999999999999999; font-size: 11px;"></div>
<div th:replace="fragment/footer.html :: fragment-footer" />
</body>
</html>