<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header" />

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class= "navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-text mx-3">NftGram</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Information
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item active">
            <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
               aria-controls="collapsePages">
                <i class="fas fa-fw fa-folder"></i>
                <span>Pages</span>
            </a>
            <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
                 data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <a class="collapse-item" href="/loadNft">NFT 불러오기</a>
                    <a class="collapse-item active" href="/allNft">모든 NFT 조회</a>
                    <a class="collapse-item" href="/member_list">멤버 리스트</a>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">ADMIN</span>
                            <img class="img-profile rounded-circle"
                                 th:src="@{bootstrap/img/undraw_profile.svg}">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="userDropdown">
                            <a title="Logout" href="/auth/logout">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <h1 class="h3 mb-4 text-gray-800">모든 NFT 조회</h1>

                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class=" font-weight-bold text-primary">NFT 목록</h6>
                        <!--                        <div class="dataTables_filter" style="text-align: right">-->
                        <!--                            검색:-->
                        <!--                            <label>-->
                        <!--                                <input id="searchInput" type="search" class="form-control input-sm"-->
                        <!--                                       placeholder="" aria-controls="datatable-checkbox"-->
                        <!--                                />-->
                        <!--                            </label>-->
                        <!--                        </div>-->
                        <div class="dataTables_filter" style="text-align: right">
                            <form  action="/member_list" method="GET">
                                <label>
                                    <input name="keyword" type="text" class="form-control input-sm" aria-label="Search">
                                </label>
                                <button class="btn btn-outline-success">검색하기</button>
                            </form>

                        </div>

                    </div>
                    <div class="card-body" >
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>nftMemberId</th>
                                    <th>nftMemberUserId</th>
                                    <th>facebook</th>
                                    <th>instagram</th>
                                    <th>discord</th>
                                    <th>memberStatus</th>

                                </tr>
                                </thead>
                                <tbody id="memberDataTbl">
                                <tr th:each="data : ${nftMemberManagerResponse.nftMemberResponse}" >
                                    <td th:text="${data.nftMemberId}"></td>
                                    <td th:text="${data.nftMemberUserId}"></td>
                                    <td th:text="${data.facebook}"></td>
                                    <td th:text="${data.instagram}"></td>
                                    <td th:text="${data.discord}"></td>
                                    <td th:text="${data.twitter}"></td>
                                    <td th:text="${data.memberStatus}"></td>
                                    <td th:text="${data.localDateTime}"></td>

                                </tr>
                                <tr th:if="${nftMemberManagerResponse.nftMemberResponse.size() == 0}">
                                    <td colspan="8" style="text-align: center"> 찾으시는 회원 정보가 없습니다. </td>
                                </tr>
                                </tbody>
                            </table>
                            <nav style="position:center; padding-left: 40%; text-align: center;">
                                <ul id="pagingArea" class="pagination">
                                    <li th:if="${nftMemberManagerResponse.pagingConverter.startPageNo > 5}" class="page-item">
                                        <a th:href="@{/member_list(page=${nftMemberManagerResponse.pagingConverter.prevPageNo})}" class="page-link" aria-label="Last">
                                            Previous
                                        </a>
                                    </li>

                                    <li th:each="page : ${#numbers.sequence(nftMemberManagerResponse.pagingConverter.startPageNo, nftMemberManagerResponse.pagingConverter.endPageNo)}"
                                        th:class="(${page} == ${nftMemberManagerResponse.pagingConverter.currentPageNo}) ? 'active page-item' : 'page-item'">
                                        <a  th:if="${page > 0}" th:href="@{/member_list(page=${page})}" th:data-page="${page}" th:text="${page}" class="page-link"></a>
                                    </li>

                                    <li th:if="${nftMemberManagerResponse.pagingConverter.endPageNo} < ${nftMemberManagerResponse.pagingConverter.finalPageNo}" class="page-item">
                                        <a th:href="@{/member_list(page=${nftMemberManagerResponse.pagingConverter.nextPageNo})}" class="page-link" aria-label="Last">
                                            Next
                                        </a>
                                    </li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->



<div th:replace="common/footer :: footer" />



</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->



<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">안녕히가세요!</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">오늘도 고생 많으셨습니다.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="/auth/login">Logout</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>