<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragment/header.html :: fragment-header" />

<link th:href="@{/css/gallery/galleryPublish.css}" rel="stylesheet" />

<body>
<nav th:replace="fragment/nav.html :: fragment-nav"></nav>

<div class="container2" id="nftgram_wrap">
    <img th:src="@{/img/gallery/realWall.jpg}" alt="imgWall" id="imgWall" />
    <div class="gallery-container">
        <div class="gallery-top">
            <div class="user-space">
                <div class="user-space-left">
                    <img th:src="@{/img/icon/Profile_icon.png}" alt="profile" id="imgProfile" />
                    USER NAME
                </div>
                <span class="user-close-btn">X</span>
            </div>
        </div>
        <div class="gallery-content">
            <div class="sns-container">
                <img th:src="@{/img/icon/Share_navi_icon.png}" />
                <img th:src="@{/img/icon/Instagram_navi_icon.png}" />
                <img th:src="@{/img/icon/Twitter_navi_icon.png}" />
                <img th:src="@{/img/icon/Discord_navi_icon.png}" />
            </div>
            <img th:src="@{/img/icon/prev50.png}" id="prevBtn"/>
            <div class="gallery-slide-container">
                <div class="gallery-slide-list-container">
                    <div class="gallery-slide-list">
                        <img th:src="@{/img/gallery/backframe.jpg}" alt="background" />
                        <div class="gallery-slide-list-item">
                            <div class="gallery-slide-list-item-down">
                                <div class="picture-explain">
                                    <p class="picture-title">NFT TITLE #0000</p>
                                    <div class="picture-explain-bottom">
                                        <div class="user-info">
                                            <img th:src="@{/img/icon/Profile_icon.png}" />
                                            <div class="user-info-name">
                                                <span>USER NAME</span>
                                                <span>1 MINUTE AGO</span>
                                            </div>
                                        </div>
                                        <div class="picture-price">
                                            <img th:src="@{/img/icon/Price_icon.png}" />
                                            <span>23</span>
                                            <img th:src="@{/img/icon/Like_icon.png}" />
                                            <span>450</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture-explain">
                                    <p class="picture-title">NFT TITLE #0000</p>
                                    <div class="picture-explain-bottom">
                                        <div class="user-info">
                                            <img th:src="@{/img/icon/Profile_icon.png}" />
                                            <div class="user-info-name">
                                                <span>USER NAME</span>
                                                <span>1 MINUTE AGO</span>
                                            </div>
                                        </div>
                                        <div class="picture-price">
                                            <img th:src="@{/img/icon/Price_icon.png}" />
                                            <span>23</span>
                                            <img th:src="@{/img/icon/Like_icon.png}" />
                                            <span>450</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture-explain">
                                    <p class="picture-title">NFT TITLE #0000</p>
                                    <div class="picture-explain-bottom">
                                        <div class="user-info">
                                            <img th:src="@{/img/icon/Profile_icon.png}" />
                                            <div class="user-info-name">
                                                <span>USER NAME</span>
                                                <span>1 MINUTE AGO</span>
                                            </div>
                                        </div>
                                        <div class="picture-price">
                                            <img th:src="@{/img/icon/Price_icon.png}" />
                                            <span>23</span>
                                            <img th:src="@{/img/icon/Like_icon.png}" />
                                            <span>450</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-slide-list-item-picture" th:each="nft:${nftList}">
                                <div class="image-container">
                                    <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                    <img th:src="${nft.nftImageUrl}" class="inner-picture"/>
                                </div>
                                <div class="image-container">
                                    <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                    <img th:src="${nft.nftImageUrl}" class="inner-picture"/>
                                </div>
                                <div class="image-container">
                                    <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                    <img th:src="${nft.nftImageUrl}" class="inner-picture"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-slide-list">
                        <img th:src="@{/img/gallery/backframe.jpg}" alt="background" />
                        <div class="gallery-slide-list-item">
                            <div class="gallery-slide-list-item-down">
                                <div class="picture-explain">
                                    <p class="picture-title">NFT TITLE #0000</p>
                                    <div class="picture-explain-bottom">
                                        <div class="user-info">
                                            <img th:src="@{/img/icon/Profile_icon.png}" />
                                            <div class="user-info-name">
                                                <span>USER NAME</span>
                                                <span>1 MINUTE AGO</span>
                                            </div>
                                        </div>
                                        <div class="picture-price">
                                            <img th:src="@{/img/icon/Price_icon.png}" />
                                            <span>23</span>
                                            <img th:src="@{/img/icon/Like_icon.png}" />
                                            <span>450</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture-explain">
                                    <p class="picture-title">NFT TITLE #0000</p>
                                    <div class="picture-explain-bottom">
                                        <div class="user-info">
                                            <img th:src="@{/img/icon/Profile_icon.png}" />
                                            <div class="user-info-name">
                                                <span>USER NAME</span>
                                                <span>1 MINUTE AGO</span>
                                            </div>
                                        </div>
                                        <div class="picture-price">
                                            <img th:src="@{/img/icon/Price_icon.png}" />
                                            <span>23</span>
                                            <img th:src="@{/img/icon/Like_icon.png}" />
                                            <span>450</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture-explain">
                                    <p class="picture-title">NFT TITLE #0000</p>
                                    <div class="picture-explain-bottom">
                                        <div class="user-info">
                                            <img th:src="@{/img/icon/Profile_icon.png}" />
                                            <div class="user-info-name">
                                                <span>USER NAME</span>
                                                <span>1 MINUTE AGO</span>
                                            </div>
                                        </div>
                                        <div class="picture-price">
                                            <img th:src="@{/img/icon/Price_icon.png}" />
                                            <span>23</span>
                                            <img th:src="@{/img/icon/Like_icon.png}" />
                                            <span>450</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-slide-list-item-picture">
                                <div class="image-container">
                                    <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                    <img th:src="@{/img/gallery/3.jpg}" class="inner-picture"/>
                                </div>
                                <div class="image-container">
                                    <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                    <img th:src="@{/img/gallery/3.jpg}" class="inner-picture"/>
                                </div>
                                <div class="image-container">
                                    <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                    <img th:src="@{/img/gallery/3.jpg}" class="inner-picture"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-slide-list">
                        <img th:src="@{/img/gallery/backframe.jpg}" alt="background" />
                        <div class="gallery-slide-list-item">
                            <div class="gallery-slide-list-item-down">
                                <div class="picture-explain">
                                    <p class="picture-title">NFT TITLE #0000</p>
                                    <div class="picture-explain-bottom">
                                        <div class="user-info">
                                            <img th:src="@{/img/icon/Profile_icon.png}" />
                                            <div class="user-info-name">
                                                <span>USER NAME</span>
                                                <span>1 MINUTE AGO</span>
                                            </div>
                                        </div>
                                        <div class="picture-price">
                                            <img th:src="@{/img/icon/Price_icon.png}" />
                                            <span>23</span>
                                            <img th:src="@{/img/icon/Like_icon.png}" />
                                            <span>450</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture-explain">
                                    <p class="picture-title">NFT TITLE #0000</p>
                                    <div class="picture-explain-bottom">
                                        <div class="user-info">
                                            <img th:src="@{/img/icon/Profile_icon.png}" />
                                            <div class="user-info-name">
                                                <span>USER NAME</span>
                                                <span>1 MINUTE AGO</span>
                                            </div>
                                        </div>
                                        <div class="picture-price">
                                            <img th:src="@{/img/icon/Price_icon.png}" />
                                            <span>23</span>
                                            <img th:src="@{/img/icon/Like_icon.png}" />
                                            <span>450</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="picture-explain">
                                    <p class="picture-title">NFT TITLE #0000</p>
                                    <div class="picture-explain-bottom">
                                        <div class="user-info">
                                            <img th:src="@{/img/icon/Profile_icon.png}" />
                                            <div class="user-info-name">
                                                <span>USER NAME</span>
                                                <span>1 MINUTE AGO</span>
                                            </div>
                                        </div>
                                        <div class="picture-price">
                                            <img th:src="@{/img/icon/Price_icon.png}" />
                                            <span>23</span>
                                            <img th:src="@{/img/icon/Like_icon.png}" />
                                            <span>450</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="gallery-slide-list-item-picture">
                                <div class="image-container">
                                    <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                    <img th:src="@{/img/gallery/4.jpg}" class="inner-picture"/>
                                </div>
                                <div class="image-container">
                                    <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                    <img th:src="@{/img/gallery/4.jpg}" class="inner-picture"/>
                                </div>
                                <div class="image-container">
                                    <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                    <img th:src="@{/img/gallery/4.jpg}" class="inner-picture"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <img th:src="@{/img/icon/next50.png}" id="nextBtn" />
        </div>
    </div>
</div><!-- /container -->
<div th:replace="fragment/footer.html :: fragment-footer" />
</body>
</html>