<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragment/header.html :: fragment-header" />

<meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link th:href="@{/css/gallery/galleryPublish.css}" rel="stylesheet" />
<link th:href="@{/css/gallery/edit.css}" rel="stylesheet" />
<script th:src="@{/js/slide.js}"></script>
<script th:src="@{/js/galleryEdit.js}"></script>
<style>
    @media screen and (max-width: 900px) {
        #navigation-top {
            display: none;
        }

        #nftgram_wrap {
            height: 100vh;
        }

        .gallery-content {
            height: 41%;
        }

        .gallery-edit-container {
            height: 31%;
        }

        .gallery-edit-container .gallery-edit-select {
            font-size: 0.9rem;
        }

        .gallery-edit-container .gallery-edit-slide-container .gallery-edit-slide-item {
            width: 13%;
        }

        .gallery-edit-container .gallery-edit-slide-container .gallery-edit-slide-item .gallery-edit-select-number {
            font-size: 0.9rem;
            width: 30%;
            height: 25%;
        }
    }
</style>

<body>
<nav th:replace="fragment/nav.html :: fragment-nav"></nav>

<div class="container2" id="nftgram_wrap">
    <img th:src="@{/img/gallery/realWall.jpg}" alt="imgWall" id="imgWall" />
    <div class="gallery-container">
        <div class="close-edit">
            <img th:src="@{/img/icon/ic-edit-close.png}" id="closeEditBtn"/>
        </div>
        <div class="gallery-content">
            <img th:src="@{/img/icon/ic-Left-icon.png}" id="prevBtn"/>
            <div class="gallery-slide-container" id="gallery-slide-container">
                <div class="gallery-slide-list-container myCollection-slide-container">
                    <div class="gallery-slide-list" save="false" moreValue="0" nftNum="0" frameNum="0" backgroundNum="0">
                        <img th:src="@{/img/etc/no-image.png}" class="back-frame" alt="background" />
                        <div class="gallery-slide-list-item">
                            <div class="gallery-slide-list-item-picture">
                                <div class="gallery-slide-list-item-down"></div>
                                <div class="image-container">
                                    <div class="image-container-content">
                                        <img class="outer-frame" th:src="@{/img/etc/no-image.png}"/>
                                        <img class="inner-picture" th:src="@{/img/etc/no-image.png}" style="border : 1px solid lightgray;"/>
                                    </div>
                                    <div class="picture-explain" style="opacity: 0">
                                        <p class="picture-title">NFT TITLE #0000</p>
                                        <div class="picture-explain-bottom">
                                            <div class="user-info">
                                                <img th:src="@{/img/icon/ic-gallery-profile.svg}" />
                                                <div class="nft-title-user">
                                                    <div class="user-info-name">
                                                        <span></span>
                                                        <span class="time"></span>
                                                        <!--                                                    <span>1 MINUTE AGO</span>-->
                                                        <!--                                                    <div class="nft-title-user-info" th:text="${nft.username}">USERNAME<br><span class="time">1 MINUTE AGO</span></div>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="picture-price">
                                                <img th:src="@{/img/icon/ic-gallery-eyes.svg}" />
                                                <span>00</span>
                                                <img th:src="@{/img/icon/ic-gallery-like.svg}" />
                                                <span>00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-container">
                                    <div class="image-container-content">
                                        <img class="outer-frame" th:src="@{/img/etc/no-image.png}"/>
                                        <img class="inner-picture" th:src="@{/img/etc/no-image.png}" style="border : 1px solid lightgray;"/>
                                    </div>
                                    <div class="picture-explain" style="opacity: 0">
                                        <p class="picture-title">NFT TITLE #0000</p>
                                        <div class="picture-explain-bottom">
                                            <div class="user-info">
                                                <img th:src="@{/img/icon/ic-gallery-profile.svg}" />
                                                <div class="nft-title-user">
                                                    <div class="user-info-name">
                                                        <span></span>
                                                        <span class="time"></span>
                                                        <!--                                                    <span>1 MINUTE AGO</span>-->
                                                        <!--                                                    <div class="nft-title-user-info" th:text="${nft.username}">USERNAME<br><span class="time">1 MINUTE AGO</span></div>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="picture-price">
                                                <img th:src="@{/img/icon/ic-gallery-eyes.svg}" />
                                                <span>00</span>
                                                <img th:src="@{/img/icon/ic-gallery-like.svg}" />
                                                <span>00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-container">
                                    <div class="image-container-content">
                                        <img class="outer-frame" th:src="@{/img/etc/no-image.png}"/>
                                        <img class="inner-picture" th:src="@{/img/etc/no-image.png}" style="border : 1px solid lightgray;"/>
                                    </div>
                                    <div class="picture-explain" style="opacity: 0">
                                        <p class="picture-title">NFT TITLE #0000</p>
                                        <div class="picture-explain-bottom">
                                            <div class="user-info">
                                                <img th:src="@{/img/icon/ic-gallery-profile.svg}" />
                                                <div class="nft-title-user">
                                                    <div class="user-info-name">
                                                        <span></span>
                                                        <span class="time"></span>
                                                        <!--                                                    <span>1 MINUTE AGO</span>-->
                                                        <!--                                                    <div class="nft-title-user-info" th:text="${nft.username}">USERNAME<br><span class="time">1 MINUTE AGO</span></div>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="picture-price">
                                                <img th:src="@{/img/icon/ic-gallery-eyes.svg}" />
                                                <span>00</span>
                                                <img th:src="@{/img/icon/ic-gallery-like.svg}" />
                                                <span>00</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img th:src="@{/img/icon/ic-Right_icon.png}" id="nextBtn" />
        </div>
        <div class="gallery-edit-container">
            <input type="radio" name="galleryEditSelect" id="galleryEditSelect1" checked="checked"/>
            <label for="galleryEditSelect1">
                <div class="gallery-edit-select select1">
                    Nft
                </div>
            </label>
            <div class="gallery-edit-slide">
                <div class="gallery-edit-slide-container">
                    <div class="gallery-edit-slide-item edit-slice-item-nft" th:each="nft : ${nftList}"  >
                        <img class="gallery-edit-img edit-nft" th:classappend="'nft_'+${nft.nftId}" th:if="${nft.tagType == 'image'}" data-layer-btn="nft-layer-pop" th:alt="${nft.name}" th:data-nftid="${nft.nftId}" th:src="${nft.nftImageUrl}"/>
                        <video class="gallery-edit-img edit-nft" th:classappend="'nft_'+${nft.nftId}" controls controlsList="nodownload"  th:if="${nft.tagType == 'video'}" data-layer-btn="nft-layer-pop" th:alt="${nft.name}" th:data-nftid="${nft.nftId}" th:src="${nft.nftImageUrl}"/>
                        <div class="gallery-edit-select-number number-nft"></div>
                        <div class="gallery-edit-img-hover"></div>
                    </div>
                    <div class="edit-image-moreBtn nft-moreBtn">
                        <img th:src="@{/img/icon/ic-popup-right.png}">
                    </div>
                </div>
                <div class="gallery-edit-plus-section">
                    section+
                </div>
                <div class="gallery-edit-save">
                    save
                </div>
            </div>
            <input type="radio" name="galleryEditSelect" id="galleryEditSelect2"/>
            <label for="galleryEditSelect2">
                <div class="gallery-edit-select select2">
                    Frame
                </div>
            </label>
            <div class="gallery-edit-slide">
                <div class="gallery-edit-slide-container">
                    <div class="gallery-edit-slide-item edit-slice-item-frame" th:each="nftframe : ${nftList}">
                        <img class="gallery-edit-img edit-frame" th:classappend="'nft_'+${nftframe.nftId}" th:if="${nftframe.tagType == 'image'}" th:alt="${nftframe.name}" th:data-nftid="${nftframe.nftId}" th:src="${nftframe.nftImageUrl}"/>
                        <div class="gallery-edit-select-number number-frame"></div>
                        <div class="gallery-edit-img-hover"></div>
                    </div>
                    <div class="edit-image-moreBtn frame-moreBtn">
                        <img th:src="@{/img/icon/ic-popup-right.png}">
                    </div>
                    <!--<div class="gallery-edit-slide-item edit-slice-item-frame">
                        <img class="gallery-edit-img edit-background" th:src="@{/img/gallery/10.jpg}" alt="editGallery" />
                        <div class="gallery-edit-img-hover"></div>
                        <div class="gallery-edit-select-number number-frame"></div>
                    </div>-->
                </div>
                <div class="gallery-edit-plus-section">
                    section+
                </div>
                <div class="gallery-edit-save">
                    save
                </div>
            </div>
            <input type="radio" name="galleryEditSelect" id="galleryEditSelect3"/>
            <label for="galleryEditSelect3">
                <div class="gallery-edit-select select3">
                    Background
                </div>
            </label>
            <div class="gallery-edit-slide">
                <div class="gallery-edit-slide-container">
                    <div class="gallery-edit-slide-item edit-slice-item-background" th:each="nftbg : ${nftList}">
                        <img class="gallery-edit-img edit-background" th:classappend="'nft_'+${nftbg.nftId}" th:if="${nftbg.tagType == 'image'}" data-layer-btn="nft-layer-pop" th:alt="${nftbg.name}" th:data-nftid="${nftbg.nftId}" th:src="${nftbg.nftImageUrl}"/>
                        <div class="gallery-edit-select-number number-background"></div>
                        <div class="gallery-edit-img-hover"></div>
                    </div>
                    <div class="edit-image-moreBtn background-moreBtn">
                        <img th:src="@{/img/icon/ic-popup-right.png}">
                    </div>
                </div>
                <div class="gallery-edit-plus-section">
                    section+
                </div>
                <div class="gallery-edit-save">
                    save
                </div>
            </div>
        </div>
    </div>
</div><!-- /container -->
</body>
</html>