<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="fragment/header.html :: fragment-header" />

<link th:href="@{/css/gallery/galleryPublish.css}" rel="stylesheet" />
<link th:href="@{/css/gallery/edit.css}" rel="stylesheet" />
<script th:src="@{/js/slide.js}"></script>

<body>
<nav th:replace="fragment/nav.html :: fragment-nav"></nav>

<div class="container2" id="nftgram_wrap">
    <img th:src="@{/img/gallery/realWall.jpg}" alt="imgWall" id="imgWall" />
    <div class="gallery-container">
        <div class="gallery-top-myCollection">
            <img th:src="@{/img/icon/Profile_icon.png}" alt="profile" id="imgProfile_myCollection" />
            <div class="myCollection-user-top">
                <input type="checkbox" id="collection-edit" />
                <label for="collection-edit">
                    <p>MY COLLECTIONS</p>
                    <img th:src="@{/img/icon/Edit_icon.png}" alt="edit" id="editIcon" />
                </label>
                <div th:replace="fragment/editFrameCollection.html :: frame-edit-collection" />
            </div>
        </div>
        <div class="gallery-content">
            <div class="sns-container">
                <img th:src="@{/img/icon/Share_navi_icon.png}" />
                <img th:src="@{/img/icon/Instagram_navi_icon.png}" />
                <img th:src="@{/img/icon/Twitter_navi_icon.png}" />
                <img th:src="@{/img/icon/Discord_navi_icon.png}" />
            </div>
            <img th:src="@{/img/icon/prev50.png}" id="prevBtn"/>
            <div class="gallery-slide-container">
                <div class="gallery-slide-list-container myCollection-slide-container">
                    <div class="gallery-slide-list">
                        <div class="myCollection-background-edit">
                            <input type="checkbox" id="editcheck10"/>
                            <label for="editcheck10">
                                <p>WALLPAPER NFT</p>
                                <img th:src="@{/img/icon/Edit_icon.png}" alt="edit" id="image-edit-icon10">
                            </label>
                            <div th:replace="fragment/editBackground.html :: frame-edit" />
                        </div>
                        <img th:src="@{/img/gallery/backframe.jpg}" alt="background" />
                        <div class="gallery-slide-list-item">
                            <div class="gallery-slide-list-item-picture">
                                <div class="gallery-slide-list-item-down"></div>
                                <div class="image-container">
                                    <div class="myCollection-image-top">
                                        <input type="checkbox" id="editcheck1"/>
                                        <label for="editcheck1">
                                            <p>FRAME NFT</p>
                                            <img th:src="@{/img/icon/Edit_icon.png}" alt="edit" id="image-edit-icon1">
                                        </label>
                                        <div th:replace="fragment/editFrame.html :: frame-edit" />
                                    </div>
                                    <div class="image-container-content">
                                        <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                        <img th:src="@{/img/gallery/1.jpg}" class="inner-picture"/>
                                    </div>
                                    <div class="picture-explain">
                                        <p class="picture-title">NFT TITLE #0000</p>
                                        <div class="picture-explain-bottom">
                                            <div class="user-info">
                                                <img th:src="@{/img/icon/Profile_icon.png}" />
                                                <div class="user-info-name">
                                                    <span>USER NAME</span>
                                                    <span>1 MINUTE AGO</span>
                                                </div>
                                            </div>
                                            <div class="picture-price">
                                                <img th:src="@{/img/icon/Price_icon.png}" />
                                                <span>23</span>
                                                <img th:src="@{/img/icon/Like_icon.png}" />
                                                <span>450</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-container">
                                    <div class="myCollection-image-top">
                                        <input type="checkbox" id="editcheck2"/>
                                        <label for="editcheck2">
                                            <p>FRAME NFT</p>
                                            <img th:src="@{/img/icon/Edit_icon.png}" alt="edit" id="image-edit-icon2">
                                        </label>
                                        <div th:replace="fragment/editFrame.html :: frame-edit" />
                                    </div>
                                    <div class="image-container-content">
                                        <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                        <img th:src="@{/img/gallery/1.jpg}" class="inner-picture"/>
                                    </div>
                                    <div class="picture-explain">
                                        <p class="picture-title">NFT TITLE #0000</p>
                                        <div class="picture-explain-bottom">
                                            <div class="user-info">
                                                <img th:src="@{/img/icon/Profile_icon.png}" />
                                                <div class="user-info-name">
                                                    <span>USER NAME</span>
                                                    <span>1 MINUTE AGO</span>
                                                </div>
                                            </div>
                                            <div class="picture-price">
                                                <img th:src="@{/img/icon/Price_icon.png}" />
                                                <span>23</span>
                                                <img th:src="@{/img/icon/Like_icon.png}" />
                                                <span>450</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-container">
                                    <div class="myCollection-image-top">
                                        <input type="checkbox" id="editcheck3"/>
                                        <label for="editcheck3">
                                            <p>FRAME NFT</p>
                                            <img th:src="@{/img/icon/Edit_icon.png}" alt="edit" id="image-edit-icon3">
                                        </label>
                                        <div th:replace="fragment/editFrame.html :: frame-edit" />
                                    </div>
                                    <div class="image-container-content">
                                        <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                        <img th:src="@{/img/gallery/1.jpg}" class="inner-picture"/>
                                    </div>
                                    <div class="picture-explain">
                                        <p class="picture-title">NFT TITLE #0000</p>
                                        <div class="picture-explain-bottom">
                                            <div class="user-info">
                                                <img th:src="@{/img/icon/Profile_icon.png}" />
                                                <div class="user-info-name">
                                                    <span>USER NAME</span>
                                                    <span>1 MINUTE AGO</span>
                                                </div>
                                            </div>
                                            <div class="picture-price">
                                                <img th:src="@{/img/icon/Price_icon.png}" />
                                                <span>23</span>
                                                <img th:src="@{/img/icon/Like_icon.png}" />
                                                <span>450</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-slide-list">
                        <div class="myCollection-background-edit">
                            <input type="checkbox" id="editcheck11"/>
                            <label for="editcheck11">
                                <p>WALLPAPER NFT</p>
                                <img th:src="@{/img/icon/Edit_icon.png}" alt="edit" id="image-edit-icon11">
                            </label>
                            <div th:replace="fragment/editBackground.html :: frame-edit" />
                        </div>
                        <img th:src="@{/img/gallery/backframe.jpg}" alt="background" />
                        <div class="gallery-slide-list-item">
                            <div class="gallery-slide-list-item-picture">
                                <div class="gallery-slide-list-item-down"></div>
                                <div class="image-container">
                                    <div class="myCollection-image-top">
                                        <input type="checkbox" id="editcheck4"/>
                                        <label for="editcheck4">
                                            <p>FRAME NFT</p>
                                            <img th:src="@{/img/icon/Edit_icon.png}" alt="edit" id="image-edit-icon4">
                                        </label>
                                        <div th:replace="fragment/editFrame.html :: frame-edit" />
                                    </div>
                                    <div class="image-container-content">
                                        <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                        <img th:src="@{/img/gallery/1.jpg}" class="inner-picture"/>
                                    </div>
                                    <div class="picture-explain">
                                        <p class="picture-title">NFT TITLE #0000</p>
                                        <div class="picture-explain-bottom">
                                            <div class="user-info">
                                                <img th:src="@{/img/icon/Profile_icon.png}" />
                                                <div class="user-info-name">
                                                    <span>USER NAME</span>
                                                    <span>1 MINUTE AGO</span>
                                                </div>
                                            </div>
                                            <div class="picture-price">
                                                <img th:src="@{/img/icon/Price_icon.png}" />
                                                <span>23</span>
                                                <img th:src="@{/img/icon/Like_icon.png}" />
                                                <span>450</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-container">
                                    <div class="myCollection-image-top">
                                        <input type="checkbox" id="editcheck5"/>
                                        <label for="editcheck5">
                                            <p>FRAME NFT</p>
                                            <img th:src="@{/img/icon/Edit_icon.png}" alt="edit" id="image-edit-icon5">
                                        </label>
                                        <div th:replace="fragment/editFrame.html :: frame-edit" />
                                    </div>
                                    <div class="image-container-content">
                                        <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                        <img th:src="@{/img/gallery/1.jpg}" class="inner-picture"/>
                                    </div>
                                    <div class="picture-explain">
                                        <p class="picture-title">NFT TITLE #0000</p>
                                        <div class="picture-explain-bottom">
                                            <div class="user-info">
                                                <img th:src="@{/img/icon/Profile_icon.png}" />
                                                <div class="user-info-name">
                                                    <span>USER NAME</span>
                                                    <span>1 MINUTE AGO</span>
                                                </div>
                                            </div>
                                            <div class="picture-price">
                                                <img th:src="@{/img/icon/Price_icon.png}" />
                                                <span>23</span>
                                                <img th:src="@{/img/icon/Like_icon.png}" />
                                                <span>450</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-container">
                                    <div class="myCollection-image-top">
                                        <input type="checkbox" id="editcheck6"/>
                                        <label for="editcheck6">
                                            <p>FRAME NFT</p>
                                            <img th:src="@{/img/icon/Edit_icon.png}" alt="edit" id="image-edit-icon6">
                                        </label>
                                        <div th:replace="fragment/editFrame.html :: frame-edit" />
                                    </div>
                                    <div class="image-container-content">
                                        <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                        <img th:src="@{/img/gallery/1.jpg}" class="inner-picture"/>
                                    </div>
                                    <div class="picture-explain">
                                        <p class="picture-title">NFT TITLE #0000</p>
                                        <div class="picture-explain-bottom">
                                            <div class="user-info">
                                                <img th:src="@{/img/icon/Profile_icon.png}" />
                                                <div class="user-info-name">
                                                    <span>USER NAME</span>
                                                    <span>1 MINUTE AGO</span>
                                                </div>
                                            </div>
                                            <div class="picture-price">
                                                <img th:src="@{/img/icon/Price_icon.png}" />
                                                <span>23</span>
                                                <img th:src="@{/img/icon/Like_icon.png}" />
                                                <span>450</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="gallery-slide-list">
                        <div class="myCollection-background-edit">
                            <input type="checkbox" id="editcheck12"/>
                            <label for="editcheck12">
                                <p>WALLPAPER NFT</p>
                                <img th:src="@{/img/icon/Edit_icon.png}" alt="edit" id="image-edit-icon12">
                            </label>
                            <div th:replace="fragment/editBackground.html :: frame-edit" />
                        </div>
                        <img th:src="@{/img/gallery/backframe.jpg}" alt="background" />
                        <div class="gallery-slide-list-item">
                            <div class="gallery-slide-list-item-picture">
                                <div class="gallery-slide-list-item-down"></div>
                                <div class="image-container">
                                    <div class="myCollection-image-top">
                                        <input type="checkbox" id="editcheck7"/>
                                        <label for="editcheck7">
                                            <p>FRAME NFT</p>
                                            <img th:src="@{/img/icon/Edit_icon.png}" alt="edit" id="image-edit-icon7">
                                        </label>
                                        <div th:replace="fragment/editFrame.html :: frame-edit" />
                                    </div>
                                    <div class="image-container-content">
                                        <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                        <img th:src="@{/img/gallery/1.jpg}" class="inner-picture"/>
                                    </div>
                                    <div class="picture-explain">
                                        <p class="picture-title">NFT TITLE #0000</p>
                                        <div class="picture-explain-bottom">
                                            <div class="user-info">
                                                <img th:src="@{/img/icon/Profile_icon.png}" />
                                                <div class="user-info-name">
                                                    <span>USER NAME</span>
                                                    <span>1 MINUTE AGO</span>
                                                </div>
                                            </div>
                                            <div class="picture-price">
                                                <img th:src="@{/img/icon/Price_icon.png}" />
                                                <span>23</span>
                                                <img th:src="@{/img/icon/Like_icon.png}" />
                                                <span>450</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-container">
                                    <div class="myCollection-image-top">
                                        <input type="checkbox" id="editcheck8"/>
                                        <label for="editcheck8">
                                            <p>FRAME NFT</p>
                                            <img th:src="@{/img/icon/Edit_icon.png}" alt="edit" id="image-edit-icon8">
                                        </label>
                                        <div th:replace="fragment/editFrame.html :: frame-edit" />
                                    </div>
                                    <div class="image-container-content">
                                        <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                        <img th:src="@{/img/gallery/1.jpg}" class="inner-picture"/>
                                    </div>
                                    <div class="picture-explain">
                                        <p class="picture-title">NFT TITLE #0000</p>
                                        <div class="picture-explain-bottom">
                                            <div class="user-info">
                                                <img th:src="@{/img/icon/Profile_icon.png}" />
                                                <div class="user-info-name">
                                                    <span>USER NAME</span>
                                                    <span>1 MINUTE AGO</span>
                                                </div>
                                            </div>
                                            <div class="picture-price">
                                                <img th:src="@{/img/icon/Price_icon.png}" />
                                                <span>23</span>
                                                <img th:src="@{/img/icon/Like_icon.png}" />
                                                <span>450</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="image-container">
                                    <div class="myCollection-image-top">
                                        <input type="checkbox" id="editcheck9"/>
                                        <label for="editcheck9">
                                            <p>FRAME NFT</p>
                                            <img th:src="@{/img/icon/Edit_icon.png}" alt="edit" id="image-edit-icon9">
                                        </label>
                                        <div th:replace="fragment/editFrame.html :: frame-edit" />
                                    </div>
                                    <div class="image-container-content">
                                        <img th:src="@{/img/gallery/frame.jpg}" class="outer-frame"/>
                                        <img th:src="@{/img/gallery/1.jpg}" class="inner-picture"/>
                                    </div>
                                    <div class="picture-explain">
                                        <p class="picture-title">NFT TITLE #0000</p>
                                        <div class="picture-explain-bottom">
                                            <div class="user-info">
                                                <img th:src="@{/img/icon/Profile_icon.png}" />
                                                <div class="user-info-name">
                                                    <span>USER NAME</span>
                                                    <span>1 MINUTE AGO</span>
                                                </div>
                                            </div>
                                            <div class="picture-price">
                                                <img th:src="@{/img/icon/Price_icon.png}" />
                                                <span>23</span>
                                                <img th:src="@{/img/icon/Like_icon.png}" />
                                                <span>450</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img th:src="@{/img/icon/next50.png}" id="nextBtn" />
        </div>
    </div>
</div><!-- /container -->
<div th:replace="fragment/footer.html :: fragment-footer" />
</body>
</html>