<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:replace="/fragment/header.html :: fragment-header" />


<link th:href="@{/css/gallery/gallery.css}" rel="stylesheet" />
<link th:href="@{/css/gallery/default.css}" rel="stylesheet" />
<script th:src="@{/js/scripts.js}"></script>

<body>
<nav th:replace="/fragment/nav.html :: fragment-nav"></nav>

<div class="container2" id="nftgram_wrap">
    <div id="gr-gallery" class="gr-gallery">
        <!--<div class="gallery_nav">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                RECENTLY LISTED
            </button><br/>
            <a href="http://tympanus.net/Development/3DBookShowcase/">section1</a><br/>
            <div class="row">
                <div class="col-3"><a href="http://tympanus.net/Development/3DBookShowcase/">img1</a></div>
                <div class="col-3"><a href="http://tympanus.net/Development/3DBookShowcase/">img2</a></div>
                <div class="col-3"><a href="http://tympanus.net/Development/3DBookShowcase/">img3</a></div>
                <div class="col-3"><a href="http://tympanus.net/Development/3DBookShowcase/">img4</a></div>
            </div>
        </div>-->
        <div class="gr-main" id="nftLayout">
            <figure class="figure" th:each="nft: ${nftInfo}" th:data-nftid="${nft.nftId}" th:id="@{'nft_'+${nft.nftId}}" >
                <!--/*@thymesVar id="nft" type="com.nftgram.core.domain.nftgram.Nft"*/-->
                <!--/*@thymesVar id="nft" type="com.nftgram.web.gallery.dto.response.GalleryResponse"*/-->
                <div class="mt-4" >
                    <img class="card-img-top" th:src="${nft.nftImageUrl}" th:alt="${nft.name}" th:data-nftid="${nft.nftId}" data-layer-btn="nft-layer-pop"/>
                </div>

                <div class="mt-4">
                    <h4><span style="color:yellow; border:1px solid #d1d1d1;" th:text="${nft.name}"></span></h4>
                </div>

                <div class="row">
                    <div class="col-3">
                        <h4 style="color:yellow; border:1px solid #d1d1d1;" th:text="${nft.username}"></h4>
                    </div>
                    <div class="col-3">
                        <h4 class="card-title" style="color:yellow; border:1px solid #d1d1d1;">EH</h4>

                    </div>
                    <div class="col-3">
                        <h4 class="card-text" style="color:yellow; border:1px solid #d1d1d1;" th:text="${nft.likeCount}">LI</h4>
                    </div>
                </div>

            </figure>
        </div>
    </div>
</div><!-- /container -->
<script th:src="@{/js/gallery.js}"></script>
<script>
    let figureCount = parseInt($('#nftLayout figure').length % 3);
    let layoutArr = new Array();
    for(var i=0;i<figureCount;i++) {
        layoutArr.push(3);
    }
    $(function() {

        Gallery.init( {
            layout : layoutArr
        } );

    });
</script>
<div th:replace="/fragment/footer.html :: fragment-footer" />
</body>
</html>