<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>
        .container {
            max-width: 560px;
        }
</style>
<head th:replace="fragment/header.html :: fragment-header" />
<body>
    <nav th:replace="fragment/nav.html :: fragment-nav"></nav>
    <div class="container" id="nftgram_wrap">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        <form th:action="@{/auth/signup}" method="post" th:object="${nftMemberSignupRequest}">
                <div style="margin-top:100px">
                    <h4 style="text-align:center;">Sign Up</h4>
                    <input type="text" name="id" class="form-control" placeholder="아이디" required=""  th:field="*{id}"  />
                </div>
                <div class="mt-2">
                    <input type="password"  name="firstPassword" class="form-control" placeholder="비밀번호"  required="" th:field="*{firstPassword}" />
                </div>
                <div class="mt-2">
                    <input type="password"  name="secondPassword" class="form-control" placeholder="비밀번호 확인"  required=""  />
                </div>
                <small class="text-danger" th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></small>
                <small class="text-danger" th:if="${#fields.hasErrors('firstPassword')}" th:errors="*{firstPassword}"></small>
                <div class="mb-2 mt-3">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">가입하기</button>
                </div>
        </form>
        </div>

    </div> <!-- /container -->
</body>
</html>