<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="frame-edit-collection" class="editFrame-collection">
    <div class="wrap-edit-frame-collection">
        <div class="edit-box-container-collection">
            <div class="edit-box-collection">
                <p>USER NAME</p>
                <input type="text" id="useNameInput" />
            </div>
            <div class="edit-box-collection">
                <p>INSTAGRAM</p>
                <input type="text" id="instaInput" />
            </div>
            <div class="edit-box-collection">
                <p>TWITTER</p>
                <input type="text" id="twitterInput" />
            </div>
            <div class="edit-box-collection">
                <p>FACEBOOK</p>
                <input type="text" id="facebookInput" />
            </div>
            <div class="edit-box-collection">
                <p>DISCORD</p>
                <input type="text" id="discordInput" />
            </div>
        </div>
        <div class="edit-submit-button">OK</div>
    </div>
</div>
</html>