<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<style>



</style>
<div th:fragment="frame-edit-collection" class="editFrame-collection" >
    <div class="wrap-edit-frame-collection" >
        <div class="edit-box-container-collection"  >
            <form th:action="@{/gallery/mycollection/save}"  th:object="${member}" method="post"> <!--th:action="@{'/gallery/mycollection/save/' + ${member.nftMemberId}}" -->
                <div class="edit-box-collection" >
                    <p>USER NAME</p>
                    <input type="text" id="username" class="username" name="username"  th:field="*{username}"  oninput="checkId()" onkeyup="noSpaceForm(this)" onchange="noSpaceForm(this)"/>
<!--                    <small class="text-danger" th:field="*{username}"></small>-->
                    <!-- th:value="${member.username}"-->
                </div>
                <div class="edit-box-collection">
                    <p>INSTAGRAM</p>
                    <div class="edit-input-box">
                        <label for="instagram">instagram.com/</label>
                        <input type="text"  id="instagram" name="instagram" th:field="*{instagram}" placeholder="Your Instagram ID" />
                    </div>
                    <!--th:value="${member.instagram}" -->
                </div>
                <div class="edit-box-collection">
                    <p>TWITTER</p>
                    <div class="edit-input-box">
                        <label for="twitter">twitter.com/</label>
                        <input type="text" id="twitter" name="twitter" th:field="*{twitter}" placeholder="Your Twitter ID" />
                    </div>
                    <!--th:value="${member.twitter}"-->
                </div>
                <div class="edit-box-collection">
                    <p>FACEBOOK</p>
                    <div class="edit-input-box">
                        <label for="facebook">facebook.com/</label>
                        <input type="text" id="facebook" name="facebook" th:field="*{facebook}" placeholder="Your Facebook ID"   />
                    </div>
                    <!-- th:value="${member.facebook}"-->
                </div>
                <div class="edit-box-collection">
                    <p>DISCORD</p>
                    <div class="edit-input-box">
                        <label for="discord">discord.com/channels/</label>
                        <input type="text" id="discord" name="discord" th:field="*{discord}" placeholder="Your Discord ID" />
                    </div>
                    <!--  th:value="${member.discord}" -->
                </div><br />
                <button class="edit-submit-button" type="submit">ok</button>
                <!--                <input type ="button" value="수정" class="btn btn-secondary" id="btnUpdate">-->
            </form>
        </div>

    </div>
</div>
</html>