<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="fragment-header">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>NFT GRAM</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/gallery.css}" rel="stylesheet" />
    <link th:href="@{/vendor/swiper/swiper.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" th:href="@{/img/etc/favicon.ico}" />
    <link th:href="@{/css/nftgram.css}" rel="stylesheet" />
    <link th:href="@{/css/layerpop.css}" rel="stylesheet" />
    <script th:src="@{/vendor/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/js/layerpop.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/vendor/swiper/swiper.min.js}"></script>

    <script th:src="@{/js/metamask.js}"></script>
    <script th:src="@{/js/wallet.js}"></script>
</head>
</html>

