<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="fragment-header">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0 , shrink-to-fit=no" />
    <meta name="title" content="NFTGRAM">
    <meta name="keyword" content="NFTGRAM, NFT, GRAM">
    <meta name="description" content="">
    <meta name="author" content="" />

    <meta property="og:type" content="website">
    <meta property="og:description" content="NFTGRAM">
    <meta property="og:image" content="/images/staby_logo_new.png">
    <meta property="og:title" content="NFTGRAM">

    <link rel="apple-touch-icon-precomposed" sizes="32x32" href="/icon/S_shortcut_32.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/icon/S_shortcut_57.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/icon/S_shortcut_72.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/icon/S_shortcut_114.png">
    <link rel="icon" type="image/png" href="/icon/S_shortcut_32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/icon/S_shortcut_57.png" sizes="57x57">
    <link rel="icon" type="image/png" href="/icon/S_shortcut_72.png" sizes="72x72">
    <link rel="icon" type="image/png" href="/icon/S_shortcut_114.png" sizes="114x114">

    <title>NFT GRAM</title>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <link th:href="@{/css/style.css}" rel="stylesheet" />
    <link th:href="@{/css/gallery.css}" rel="stylesheet" />
    <link th:href="@{/vendor/swiper/swiper.min.css}" rel="stylesheet">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="shortcut icon" th:href="@{/img/etc/favicon.ico}" />
    <link th:href="@{/css/nftgram.css}" rel="stylesheet" />
    <link th:href="@{/css/layerpop.css}" rel="stylesheet" />
    <script th:src="@{/vendor/sweetalert/sweetalert.min.js}"></script>
    <script th:src="@{/vendor/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/js/layerpop.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/vendor/swiper/swiper.min.js}"></script>

    <script th:src="@{/js/metamask.js}"></script>
    <script th:src="@{/js/wallet.js}"></script>
</head>
</html>

