<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div id="navigation-top" th:fragment="fragment-nav" th:with="memberInfo=${@memberLoginManager.getInfo()}">
    <nav class="navbar navbar-expand-lg navbar-light" style="padding-bottom: 0; padding-top: 1rem;">
        <div class="container">
            <div class="d-flex">
                <ul class="navbar-nav-mobile">
                    <li class="nav-item"><a class="nav-link mypage" href="/gallery/mycollection"><img class="whIs36" th:src="@{/img/icon/ic-nav-profile.svg}" /></a></li>
                    <li class="nav-item"><a class="nav-link mywallet" href="javascript:void(0);"><img class="whIs30" style="width: 2rem;" th:src="@{/img/icon/ic-nav-wallet.png}" /></a></li>
                    <li th:if="${memberInfo.loginYN == 'N'}" class="nav-item">
                        <a class="btn btn-outline-dark" th:onclick="|location.href='@{/auth/login}'|">Sign In</a>
                    </li>
                    <li th:if="${memberInfo.loginYN == 'Y'}" class="nav-item">
                        <a class="btn btn-outline-dark" th:onclick="|location.href='@{/auth/logout}'|">Logout </a>
                    </li>
                </ul>
            </div>
            <div class="wallet-wrap">
                <div class="wallet-user-wrap">
                    <span class="wallet-user-title">Total Balance</span>
                    <br>
                    <span class="balance-price">3.21</span>
                </div>
                <div class="wallet-list">

                </div>
            </div>
            <div class="d-flex">
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container second-nav-flex">
            <a class="navbar-brand nav-logo" href="/">
                <div class="whIs30">
                    <img class="whIs30" th:src="@{/img/icon/NFTgram_logo.png}" />
                </div>
            </a>
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4"></ul>
                <div class="d-flex">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!--/*@thymesVar id="nav_active" type="com.nftgram.web.gallery.controller.GalleryController"*/-->
                        <!--/*@thymesVar id="nav_active" type="com.nftgram.web.main.controller.MainController"*/-->
                        <li class="nav-item"><a aria-current="page" class="nav-link explorer" href="/" th:classappend="${nav_active}== 'explorer' ? 'active' : ''">Explore</a></li>
                        <li class="nav-item"><a class="nav-link myfavorite" href="/gallery/myfavorite" th:classappend="${nav_active}== 'myfavorite' ? 'active' : ''">My Favorites</a></li>
                        <li class="nav-item"><a class="nav-link mypage" href="/gallery/mycollection"><img class="whIs36" th:src="@{/img/icon/ic-nav-profile.svg}" /></a></li>
                        <li class="nav-item"><a class="nav-link mywallet" href="javascript:void(0);"><img class="whIs30" style="width: 2rem;" th:src="@{/img/icon/ic-nav-wallet.png}" /></a></li>


                        <li th:if="${memberInfo.loginYN == 'N'}" class="nav-item">
                            <a class="btn btn-outline-dark" th:onclick="|location.href='@{/auth/login}'|">Sign In</a>
                        </li>
                        <li th:if="${memberInfo.loginYN == 'Y'}" class="nav-item">
                            <a class="btn btn-outline-dark" th:onclick="|location.href='@{/auth/logout}'|">Logout</a>
                        </li>

                        <div th:if="${param.error}" class="alert alert-danger" role="alert">
                            Invalid username and password
                        </div>
                    </ul>
                </div>
                <div class="wallet-wrap">
                    <div class="wallet-user-wrap">
                        <span class="wallet-user-title">Total Balance</span>
                        <br>
                        <span class="balance-price">3.21</span>
                    </div>
                    <div class="wallet-list">

                    </div>
                </div>
            </div>
        </div>

    </nav>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
            <div class="input-group">
                <div class="input-group-left">
                    <input class="form-control me-2"  id="searchKeyword"  name="keyword" autocomplete="off" placeholder=" " th:value="${#httpServletRequest.getParameter('keyword')}" type="text"/>
                    <div class="input-group-append">
                        <button class="btn btn-secondary me-2" id="btnSearch">Search</button>
                    </div>
                </div>
                <div class="input-group-right">
                    <div class="dropdown" style="width:180px;">
                        <input type="hidden" name="dropdownsort" id="dropdownsort" value="0" />
                        <input type="checkbox" name="dropdownsearch" id="dropdownsearch" />
                        <label for="dropdownsearch">
                            <p class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                Sort By
                            </p>
                        </label>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" value="0">Sort By</a></li>
                            <li><a class="dropdown-item" value="1">Recently</a></li>
                            <li><a class="dropdown-item" value="2">Top views</a></li>
                            <li><a class="dropdown-item" value="3">Popularity</a></li>
                        </ul>
                    </div>
                    <div class="d-flex me-2" id="list-view-btn">
                        <div class="gallery-view-type wIs30" data-view="list">
                            <img class="whIs30" th:src="@{/img/icon/ic-nav-slide3.svg}" />
                        </div>

                    </div>
                    <div class="d-flex">
                        <div class="gallery-view-type wIs30" data-view="gallery">
                            <img class="whIs30" th:src="@{/img/icon/ic-nav-slide2.svg}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>
</html>