.wrap-edit-frame {
    display: none;
    position: absolute;
    top: 10%;
    left: 30%;
    width: 12rem;
    height: 15rem;
    background-color: rgba(0,0,0,0.75);
    z-index: 9999;
    border-radius: 5px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.57);
    padding: 0.656rem;
    box-sizing: border-box;
    color: #f5f0f0;
}

.bakcground-frame {
    display: none;
    position: absolute;
    bottom : 100%;
    right: 0;
    width: 12rem;
    height: 15rem;
    background-color: rgba(0,0,0,0.75);
    z-index: 9999;
    border-radius: 5px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.57);
    padding: 0.656rem;
    box-sizing: border-box;
    color: #f5f0f0;
}

.edit-frame-title {
    width: 100%;
    text-align: center;
    margin-bottom: 0.656rem;
}

.edit-box-container {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4%;
    grid-row-gap: 4%;
}

.edit-box-container .edit-box {
    width: 100%;
    height: 100%;
    background-color: white;
}

.edit-submit-button {
    position: absolute;
    right : 0.656rem;
    bottom: 0.656rem;
    width: 20%;
    height: 7%;
    border-radius: 3px;
    background-color: #fff;
    color : black;
    display:flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + Label {
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

input[type="checkbox"]:checked + Label + div > div {
    display: block;
}

/*edit-collection css*/
.wrap-edit-frame-collection {
    display: none;
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background-color: rgba(0,0,0,0.75);
    z-index: 9999;
    border-radius: 5px;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.57);
    padding: 0.656rem;
    box-sizing: border-box;
    color: #f5f0f0;
}

.wrap-edit-frame-collection .edit-box-container-collection {
    width: 100%;
}

.wrap-edit-frame-collection .edit-box-container-collection input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.9rem;
}

.edit-input-box {
    width: 100%;
    height: 2rem;
    box-sizing: border-box;
    margin-bottom: 0.9rem;
    background-color: #fff;
    position: relative;
    display: flex;
    align-items: center;
}

.edit-input-box > label {
    color: gray;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
}

input#username {
    padding-left: 0.3rem;
}

input#instagram {
    width: 40%;
    outline: none;
    border: none;
    background-color: #fff;
    margin-bottom: 0;
}

input#twitter {
    width: 40%;
    outline: none;
    border: none;
    background-color: #fff;
    margin-bottom: 0;
}

input#facebook {
    width: 40%;
    outline: none;
    border: none;
    background-color: #fff;
    margin-bottom: 0;
}

input#discord {
    width: 40%;
    outline: none;
    border: none;
    background-color: #fff;
    margin-bottom: 0;
}

.wrap-edit-frame-collection .edit-box-container-collection p {
    margin-bottom: 0;
}

@media screen and (max-width: 930px) {
    .wrap-edit-frame-collection .edit-box-container-collection input {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 0.4rem;
    }

    .edit-input-box {
        height: 1.4rem;
        margin-bottom: 0.4rem;
    }

    .wrap-edit-frame-collection {
        width: 17rem;
        padding: 0.3rem;
    }

    .edit-submit-button {
        bottom: 0.2rem;
        right: 0.3rem;
    }
}

.inner-picture-delete-btn {
    width: 9%;
    height: 9%;
    background-color: #b1b1b1;
    color: #090909;
    position: absolute;
    top: 11%;
    left: 11%;
    z-index: 999999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.outer-frame-delete-btn {
    width: 9%;
    height: 9%;
    background-color: #b1b1b1;
    color: #090909;
    position: absolute;
    top: 1%;
    left: 1%;
    z-index: 99999999;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.background-frame-delete-btn {
    width: 3%;
    height: 6%;
    background-color: #b1b1b1;
    color: #090909;
    position: absolute;
    top : 3%;
    left: 1%;
    z-index: 9999999;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}