<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header" />


<body class="bg-gradient-primary">

<div class="container login-container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block login-image-container">
                            <img th:src="@{/img/NFTgram_logo.png}" class="login-image" />
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h3 text-gray-900 mb-4" style="font-weight: bold">Nftgram Admin</h1>
                                </div>

                                <!--th:action="@{/auth/login}" method="post" th:object="${adminMemberRequest}"  -->
                                <form class="form-signin" action="/auth/join" th:object="${adminMemberRequest}" method="post">

                                    <label for="adminId" class="sr-only">아이디</label>
                                    <input type="text" th:field="*{adminId}" id="adminId" class="form-control" placeholder="아이디" required="" autofocus="">
                                    <div class="checkbox mb-3"></div>
                                    <label for="adminName" class="sr-only">관리자이름</label>
                                    <input type="text" th:field="*{adminName}" id="adminName" class="form-control" placeholder="관리자이름" required="" autofocus="">
                                    <div class="checkbox mb-3"></div>
                                    <label for="password" class="sr-only">패스워드</label>
                                    <input type="password" th:field="*{password}" id="password" class="form-control" placeholder="패스워드" required="" autofocus="">
                                    <div class="checkbox mb-3"></div>

                                    <small class="text-danger" th:if="${#fields.hasErrors('adminId')}" th:errors="*{adminId}"></small>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                                    <p class="mt-5 mb-3 text-muted">© 2019-2020</p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>

