<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/header :: header" />


<body class="bg-gradient-primary">

<div class="container login-container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block login-image-container">
                            <img th:src="@{/img/NFTgram_logo.png}" class="login-image" />
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h3 text-gray-900 mb-4" style="font-weight: bold">Nftgram Admin</h1>
                                </div>

                                <!--th:action="@{/auth/login}" method="post" th:object="${adminMemberRequest}"  -->
                                <form  th:action="@{/auth/login}"  method="post" th:object="${adminMemberRequest}" >
                                    <div class="form-group">
                                        <input style="font-size: 0.9rem;" type="text" name="id" class="form-control"  placeholder="Id" required="" th:field="*{adminId}" />
                                    </div>
                                    <div class="form-group">
                                        <input style="font-size: 0.9rem;" type="password" name="password" class="form-control" placeholder="Password" required=""  th:field="*{password}"  />

                                    </div>
                                    <small class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
                                    <small class="text-danger" th:if="${#fields.hasErrors('adminId')}" th:errors="*{adminId}"></small>
                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                                </form>
                                <div class="col">
                                    <p style="text-align:center;"><a class="" onclick="location.href='items.html'" style="font-size: 0.9rem;"
                                                                     th:onclick="|location.href='@{join}'|"
                                                                     type="button">Sign Up</a></p>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
</body>

</html>