button{*overflow:visible;margin:0rem;padding:0;border:0 none;background:transparent;line-height:normal;cursor:pointer}
/* 레이어 팝업 */
.layer_popup_bg{position:fixed;top:0;left:0;width:100%;height:100%;background-color: rgba(0,0,0,0.95); overflow:hidden;z-index:997}
.wrap_layer_popup{display:none;position:absolute;left:50%;z-index:999;width:30.375rem;}
.wrap_layer_popup .pop_tit{position:relative;height:3.625rem;padding:0 1.75rem;background:#111;font-size:1.25rem;font-weight:bold;color:#fff;line-height:3.5rem}
.wrap_layer_popup .pop_tit span{color:#fff}
.wrap_layer_popup .nft-detail-container{padding:1.25rem 1.875rem 1.875rem}
.wrap_layer_popup .info_box{padding:0.938rem;background:#f9f9f9}
.wrap_layer_popup .info{padding-left:0.5rem;color:#929292;text-indent:-0.5rem;line-height:1.8}
.wrap_layer_popup .inner_popup_auto{width:100%;min-height:30.375rem;text-align:center}
.wrap_layer_popup .inner_popup_auto .auto_box{display:inline;position:relative}
.wrap_layer_popup .inner_popup_auto .auto_box .bt_close{position:absolute;top:-2.813rem;right:0;width:2.125rem;height:2.125rem;background:url("../img/popup/close_34x34_white.png") no-repeat}
/* 레이어팝업 detail popup */
.wrap_layer_popup#nft-layer-pop{ width:45%;height : 60%; max-width: 640px; background-color : transparent; max-width: 700px; max-height: 600px;}
.pop_close{position:absolute; top: 4%; right: 4%; text-align:right; height : 9%}
.pop_close img {
    width: 2.5rem;
    height: 2.5rem;
}
.pop_close a{display:inline-block; width: 100%; height: 100%}
.wrap_layer_popup#nft-layer-pop .nft-detail-container{position:relative;padding:0;width : 100%;height:70%;z-index: 995;}
.wrap_layer_popup#nft-layer-pop .chg-list{position:fixed;top:50%;right:-20%;left:-20%; transform: translateY(-50%); height: fit-content; z-index:900; display: flex; align-items: center; justify-content: space-between;}
.wrap_layer_popup#nft-layer-pop .chg-list .arrows{height:2.5rem; text-indent:-1000%;overflow:hidden; background-position: center; background-size: contain; background-repeat: no-repeat;}
.wrap_layer_popup#nft-layer-pop .chg-list .arrows.prev{ background-image:url("../img/icon/ic-popup-left.png");}
.wrap_layer_popup#nft-layer-pop .chg-list .arrows.next{ background-image:url("../img/icon/ic-popup-right.png");}

.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper {height: 100%; width: 100%; display: flex; align-items: center; justify-content: flex-start}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form{width:70%;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-home{background-color: #fff;padding:1.625rem;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-home .nft-image{box-shadow: inset 0 0 0.5rem 0 rgb(0 0 0);}/* / 78%*/
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-home .nft-image video{width: 402px;height:402px;}
/*.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-home .nft-image img.nft-image-home{max-width:100%;}*/

.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info{border: 0.063rem solid #fff;background-color: #895ac8;overflow: auto;}
div#nft-info::-webkit-scrollbar {
    display: none;
}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table{width: 100%;border: 0.063rem solid #fff;color: #fff;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr{width: 100%;border-bottom: 0.094rem solid #fff;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute{cursor: pointer;font-weight: bold;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute td{padding: 2% 0;/*padding:0.313rem 2.188rem*/;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute .attr-description{padding: 0 11%;margin-left: 3%;background: url(../img/icon/info_description.png) center left no-repeat;background-size: 1.5rem;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute .attr-properties{padding: 0 11%;margin-left: 3%;background: url(../img/icon/info_properties.png) center left no-repeat;background-size: 1.5rem;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute .attr-detail{padding: 0 11%;margin-left: 3%;background: url(../img/icon/info_detail.png) center left no-repeat;background-size: 1.5rem;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute .attr-about{padding: 0 11%;margin-left: 3%;background: url(../img/icon/info_about.png) center left no-repeat;background-size: 1.5rem;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute .attr-about .attr-about-span{color:#fff;}

.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute-text{display:none;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute-text td {padding:2% 3%;font-size: 1.1rem;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute-text.attr-properties-row td { display: grid; grid-template-columns: repeat(2, 1fr); grid-column-gap: 2%; grid-row-gap: 2%; margin-bottom: 6%; overflow: scroll;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute-text td.attr-properties-row-text .prop-info{padding:0.3rem 1rem;background-color: #fff;color: #000;text-align: center;
    width: 100%;  height: 100px;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute-text td.attr-properties-row-text .prop-info .prop-info-nft{margin-bottom: auto;font-size: 0.5rem;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute-text td.attr-properties-row-text .prop-info .prop-info-nft.prop-value{font-size: 0.8rem;font-weight: bold;}


/*.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute-text td.attr-detail-row-text .detail-info{float:left;margin:2%;padding:0.3rem 1rem;background-color: #fff;color: #000;text-align: center;*/
/*    width: 120px;  height: 120px;white-space: revert;overflow: hidden;}*/
/*.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute-text td.attr-detail-row-text .detail-info .detail-info-nft{margin-bottom: auto;font-size: 0.5rem;}*/
/*.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-info table tr.info-attribute-text td.attr-detail-row-text .detail-info .detail-info-nft.detail-value{font-size: 0.8rem;font-weight: bold;}*/

.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-comment{background-color: #1a73e8;padding-top: 1rem;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-comment .comment_btn{position: absolute; bottom: 0.5rem; right: 0.5rem;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-comment .comment-area{padding:0 1.438rem; height: 45%;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-comment .comment-area .comment-top{padding:0.625rem;background-color: #fff;border-radius: 0.25rem;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-comment .comment-area .form-group{margin-top: -1.875rem; position: relative}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-comment .comment-area textarea{padding:0 5.735rem 0 0.735rem;resize:none;border: none;box-shadow: none;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-comment .comment-list{width:100%; height: 55%;padding:0 1.438rem; padding-top: 3%; font-size:1rem;color: #fff;overflow: auto;}
.comment-list::-webkit-scrollbar {
    display: none;
}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-comment .comment-list .comment-list-row{width:100%; display:inline-flex;margin-bottom:1rem;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-comment .comment-list .comment-list-row .user-image{float:left;margin-right: 0.625rem;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-comment .comment-list .comment-list-row .user-info{float:left;width:4.688rem;overflow:hidden;font-weight: bold;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-comment .comment-list .comment-list-row .user-info .time{font-size:0.8rem;font-weight: 300;overflow:hidden;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-comment .comment-list .comment-list-row .user-comment{position:relative;float:left;width: 16.815rem;margin-left: 1.5rem;padding: 0.375rem;border-radius: 0.25rem;color: #000;font-weight: bold;background-color: #fff;word-break: break-word;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-detail-wrapper .nft-form#nft-comment .comment-list .comment-list-row .user-comment:before {border-top: 0.438rem solid transparent;border-left: 0.938rem solid transparent;border-right: 0.625rem solid #fff;border-bottom: 0.438rem solid transparent;content:"";position:absolute;left:-1.5rem;}

.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-btn {float: left;padding:0.313rem 0.625rem;width:30%;height:100%;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-btn .nft-btn-form {width: 100%;font-size: 1.2rem;font-weight:bold;text-align:left; padding-left:2.5rem;background-size: 2rem 2rem;background-repeat: no-repeat;background-position-y:0.188rem}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-btn .nft-btn-form#nft-btn-home {background-image: url("../img/popup/ic-popup-home.svg");color: #fff;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-btn .nft-btn-form.on#nft-btn-home {color: #f5c444;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-btn .nft-btn-form#nft-btn-info {background-image: url("../img/popup/ic-popup-info.svg");color: #fff;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-btn .nft-btn-form.on#nft-btn-info {color: #895ac8;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-btn .nft-btn-form#nft-btn-comment {background-image: url("../img/popup/ic-popup-comment.svg");color: #fff;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-btn .nft-btn-form.on#nft-btn-comment {color: #1a73e8;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-btn .nft-btn-form#nft-btn-like {background-image: url("../img/popup/ic-popup-like.svg");color: #fff;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-btn .nft-btn-form.on#nft-btn-like {background-image: url("../img/popup/ic-popup-like.svg");color: #fb3232;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-btn .nft-btn-form#nft-btn-market {background-image: url("../img/popup/ic-popup-market.svg");color: #fff;}
.wrap_layer_popup#nft-layer-pop .nft-detail-container .nft-btn .nft-btn-form.on#nft-btn-market {background-image: url("../img/popup/ic-popup-market.svg");color: #4cf8db;}


.wrap_layer_popup#nft-layer-pop .nft-title-area{position: relative;width:100%;height: 30%;padding: 0.5rem;color: #fff;}
.wrap_layer_popup#nft-layer-pop .nft-title-area .nft-title{width:69%;height:38%;margin-bottom: 2.5%}
.wrap_layer_popup#nft-layer-pop .nft-title-area .nft-title .nft-title-info{text-align: center; margin-bottom : 0;}
.wrap_layer_popup#nft-layer-pop .nft-title-area .nft-title-user{width:91%;height:60%}
.wrap_layer_popup#nft-layer-pop .nft-title-area .nft-title-user .nft-title-user-image{float:left;margin-right: 0.625rem;}
.wrap_layer_popup#nft-layer-pop .nft-title-area .nft-title-user .nft-title-user-info{float:left;width:60%;overflow:hidden;font-weight: bold;line-height: 1;}
.wrap_layer_popup#nft-layer-pop .nft-title-area .nft-title-user .nft-title-user-info .time{font-size:0.8rem;font-weight: 300;}
.wrap_layer_popup#nft-layer-pop .nft-title-area .nft-title-user .nft-title-etc{float:right;margin-top:0.3rem;font-weight: bold;}
.wrap_layer_popup#nft-layer-pop .nft-title-area .nft-title-user .nft-title-etc .etc-eth, .etc-like {float: left; display: flex; align-items: center}
.wrap_layer_popup#nft-layer-pop .nft-title-area .nft-title-user .nft-title-etc .etc-eth .ethPrice{margin:0 1rem 0 0.5rem;}
.wrap_layer_popup#nft-layer-pop .nft-title-area .nft-title-user .nft-title-etc .etc-like .likeCount{margin:0 0 0 0.5rem;}


@media screen and (max-width: 1000px) {
    .wrap_layer_popup#nft-layer-pop {
        width: 60%;
        height: 85%;
    }
}

p.prop-info-nft.detail-type {
    width: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}