.container {
    width: 100%;
    max-width: none; !important;
    padding : 0 3rem;
}

@media  (min-width: 769px) {
    .nftgram-tag{
        max-width: 100%;
    }
}

#navigation-top .navbar {
    padding : 0.5rem 0;
    background-color : #090909 !important;
    border : 2px solid #090909;
    color : #fff;
}

#navigation-top .navbar .container {
    padding : 0 3rem;
}

#navigation-top #navigation-country {
    margin-right : 0 !important;
}

.navbar-nav-mobile {
    display: none;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-nav-mobile .nav-link {
    padding: 0.4rem 0;
}

#navigation-top #navigation-country .nav-country{width: 1.863rem;height: 1.863rem;margin: 0.013rem 0 0.013rem;}
#navigation-top #navigation-country .nav-country .nav-country-img{ cursor: pointer;width:1.5rem;height:1rem;}

#navbarSupportedContent .d-flex ul li:not(:first-child) {
    margin-left: 1rem;
}

#navbarSupportedContent .d-flex ul a {
    position: relative;
    top : 50%;
    left: 0;
    transform: translateY(-50%);
}

#navbarSupportedContent .d-flex ul a.nav-link {
    padding-left: 0;
    padding-right: 0;
    color : #fff;
}

a.btn.btn-outline-dark {
    border : 2px solid #fff;
    height: 100%;
}

#navigation-top .navbar .input-group {
    height: 100%;
    display: grid;
    grid-template-columns: 6fr 1fr;
}

.input-group > .input-group-left, .input-group > .input-group-right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group #searchKeyword {
    height: 100%;
    padding : 0.75rem 0.75rem;
    font-size: 1.2rem;
}

select[name="selSort"] {
    font-size: 1rem;
}

.gallery-view-type {
    margin : auto;
}
.gallery-view-type img, #gallery-swiper .card_wrap img{
    cursor: pointer;
}
#nftgram-list {
    display: grid;
    max-width: 1800px;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2.125rem;
    grid-row-gap: 2.5rem;
    margin-right : 0px !important;
    margin-left: 0px; !important;
}

#nftgram-list .card {
    /*flex: 0 0 17%;*/
    /*margin-bottom: 15px;*/
    /*border:1px solid rgb(229, 232, 235);*/
    /*border-radius:10px;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    width: 100%;
    margin-left : 0px !important;
    margin-right : 0px !important;
}
img.card-img-top {
    cursor: pointer;
    height: 300px;
    width: 100%;
}
#nftgram-list .card-body {
    width : 100%;
    padding : 0;

}
#nftgram-list .card-body .row{
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 !important;
    padding: 13px 1rem 10px;
}

#nftgram-list .card-body .row .row-data-left {
    padding : 0;
    margin : 0;
    max-width: 50%;
}

#nftgram-list .card-body .row .row-data-right {
    display : flex;
    justify-content: flex-end;
    align-items: center;
    padding : 0;
    margin : 0;
    max-width: 50%;
}

#nftgram-list .card-body .row .row-data-right > span {
    margin-left: 0.5rem;
}

#nftgram-list .card-body img.card-img-user {
    width: 1.575rem;
    height: 1.575rem;

}
#nftgram-list .card-body .row data-text{
    border:5px solid lawngreen;
}
#nftgram-list .card-body .card-text-data {
    /*border: 4px solid firebrick;*/
    text-align: end;
    padding-right: 15px;
    margin-bottom: 0;
}

.search-box .position-box {
    border-radius: 15px;
    width: 13.562rem;
    height: 2.25rem;
    background: #000000;
    color: #ffffff;
    padding: 6px 0.813rem 0.188rem 1rem;

}
.search-box .close{
    color: white;
    cursor: pointer;
}

.gallery-container .search-box {
    width: fit-content;
    position: absolute;
    top: 5%;
    left: 5%;
}

#nftgram-wallet {position: relative;top:10rem;font-weight: 600;}
#nftgram-wallet .wallet-content {margin: 0 auto;height:10.563rem;text-align: center;}
#nftgram-wallet .wallet-content .title {}
#nftgram-wallet .wallet-content .wallet-btn-group{margin:auto;width:100%;height: 3.6rem;}
#nftgram-wallet .wallet-content .wallet-btn-group .btn-metamask{width:18rem;height: 90%;padding-left:3rem;border: 1px solid #707070;border-radius: 0.2rem;color: #b1b1b1;font-size: 1.25rem;font-weight:600;background: url("/img/icon/metamask_icon.png") center left no-repeat;background-size: 2.1rem;background-position-x: 3.2rem;}
#nftgram-wallet .wallet-content .wallet-msg{font-size: 1.25rem;color: #b1b1b1;}

#navigation-top .wallet-wrap {display: none;position: absolute;top: 3.5rem;right: 0rem;z-index: 999;border: 1px solid black;background-color: white; width: 35%}
#navigation-top .wallet-wrap.on {display: block; color: black;}
#navigation-top .wallet-wrap:hover {display: block;}
#navigation-top .wallet-wrap .wallet-user-wrap{border-bottom: 1px solid #b1b1b1;background: url("/img/icon/Profile_icon.png") left center no-repeat;background-size: 1.875rem 1.875rem;background-position-x: 0.5rem;padding-left: 3rem;}
#navigation-top .wallet-wrap .wallet-user-wrap .wallet-user-title{font-size: 1.1rem;}
#navigation-top .wallet-wrap .wallet-user-wrap .balance-price{font-size:1rem;font-weight: bold;}
#navigation-top .wallet-wrap .wallet-user-wrap .balance-price:after{content:' ETH'}
#navigation-top .wallet-wrap .wallet-list{}
#navigation-top .wallet-wrap .wallet-list .wallet-row{
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mywallet.on {
    border-bottom : solid 1px rgb(26,83,232);
}
#navigation-top .wallet-wrap .wallet-list .wallet-row span{padding-right: 0.5rem;}
#navigation-top .wallet-wrap .wallet-list .wallet-row span.address {
    width: 85%;
    overflow : hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#navigation-top .wallet-wrap .wallet-list .wallet-row span img{cursor: pointer;}
#navigation-top .wallet-wrap .wallet-list .wallet-row .address.active{font-weight: bold;}
#navigation-top .navbar .second-nav-flex {
    flex-wrap: nowrap;
}

#navigation-top .navbar .second-nav-flex .d-flex {
    justify-content: flex-end;
}

#navigation-top .navbar .second-nav-flex .navbar-nav {
    flex-direction: row;
    margin: 0 !important;
    justify-content: flex-end;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.d-flex {
    height: 2.375rem;
}

@media screen and (max-width: 1600px) {
    #nftgram-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1300px) {
    #nftgram-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    #nftgram-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 769px) {
    #nftgram-list {
        grid-template-columns: repeat(1, 1fr);
    }

    #navigation-top .wallet-wrap {width: 60%}

    .navbar-nav-mobile {
        display: flex;
    }

    .navbar-nav-mobile > li:not(:last-child) {
        margin-right: 0.5rem;
    }

    .container {
        padding : 0 1rem;
    }

    #navigation-top .navbar .container {
        padding : 0 1rem;
        justify-content: flex-end;
    }

    #navigation-top .navbar .second-nav-flex {
        flex-wrap: nowrap;
    }

    #navigation-top .navbar .second-nav-flex .d-flex {
        justify-content: flex-end;
    }

    #navigation-top .navbar .second-nav-flex .navbar-nav {
        flex-direction: row;
        margin: 0 !important;
        justify-content: flex-end;
    }

    #navbarSupportedContent .d-flex ul li:not(:first-child) {
        margin-left: 0.7rem;
    }

    #navigation-top .navbar .second-nav-flex .navbar-nav > li:nth-child(3), #navigation-top .navbar .second-nav-flex .navbar-nav > li:nth-child(4), #navigation-top .navbar .second-nav-flex .navbar-nav > li:nth-child(5) {
        display: none;
    }

    #navigation-top .navbar .input-group {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }

    .input-group > .input-group-left button.me-2 {
        margin-right: 0 !important;
    }

    .input-group > .input-group-right {
        justify-content: flex-end;
    }

    .input-group > .input-group-right > div:last-child {
        margin-left: 0.5rem;
    }

    #list-view-btn {
        margin-right: 0 !important;
    }
}

body {
    font-size: 1.2rem;
}.container {
     width: 100%;
     max-width: none; !important;
     padding : 0 3rem;
 }

@media  (min-width: 769px) {
    .nftgram-tag{
        max-width: 100%;
    }
}

#navigation-top .navbar {
    padding : 0.5rem 0;
    background-color : #090909 !important;
    border : 2px solid #090909;
    color : #fff;
}

#navigation-top .navbar .container {
    padding : 0 3rem;
}

#navigation-top #navigation-country {
    margin-right : 0 !important;
}

.navbar-nav-mobile {
    display: none;
    align-items: center;
    padding-left: 0;
    margin-bottom: 0;
}

.navbar-nav-mobile .nav-link {
    padding: 0.4rem 0;
}

#navigation-top #navigation-country .nav-country{width: 1.863rem;height: 1.863rem;margin: 0.013rem 0 0.013rem;}
#navigation-top #navigation-country .nav-country .nav-country-img{ cursor: pointer;width:1.5rem;height:1rem;}

#navbarSupportedContent .d-flex ul li:not(:first-child) {
    margin-left: 1rem;
}

#navbarSupportedContent .d-flex ul a {
    position: relative;
    top : 50%;
    left: 0;
    transform: translateY(-50%);
}

#navbarSupportedContent .d-flex ul a.nav-link {
    padding-left: 0;
    padding-right: 0;
    color : #fff;
}

a.btn.btn-outline-dark {
    border : 2px solid #fff;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.275rem 0.75rem;
}

#navigation-top .navbar .input-group {
    height: 100%;
    display: grid;
    grid-template-columns: 6fr 1fr;
}

.input-group > .input-group-left, .input-group > .input-group-right {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-group #searchKeyword {
    height: 100%;
    padding : 0rem 0.75rem;
    font-size: 1.2rem;
    background-image: url("../img/icon/ic-nav-search.svg");
    background-position: 0.8rem center;
    background-size: 1.5rem;
    background-repeat: no-repeat;
}

.input-group #searchKeyword:focus {
    background-image: none;
}

.input-group-append {
    margin-left: 0;
    height: 100%;
}

select[name="selSort"] {
    font-size: 1rem;
}

.gallery-view-type {
    margin : auto;
    width: fit-content;
}
.gallery-view-type img, #gallery-swiper .card_wrap img{
    cursor: pointer;
}
#nftgram-list {
    display: grid;
    max-width: 1800px;
    margin: 0 auto;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2.125rem;
    grid-row-gap: 2.5rem;
    margin-right : 0px !important;
    margin-left: 0px; !important;
    line-height: normal;
}

#nftgram-list .card {
    /*flex: 0 0 17%;*/
    /*margin-bottom: 15px;*/
    /*border:1px solid rgb(229, 232, 235);*/
    /*border-radius:10px;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
    width: 100%;
    margin-left : 0px !important;
    margin-right : 0px !important;
    border : none;
}
img.card-img-top {
    cursor: pointer;
    height: 300px;
    width: 100%;
    border: solid 1px lightgray;
    border-radius: 5px;
}
#nftgram-list .card-body {
    width : 100%;
    padding : 0;

}
#nftgram-list .card-body .row{
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 !important;
    padding: 0.5rem 0.5rem 0.3rem;
}

#nftgram-list .card-body .row .row-data-left {
    padding : 0;
    margin : 0;
    max-width: 50%;
    display: flex;
    align-items: center;
}

.left-nft-title {
    width: 85%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#nftgram-list .card-body .row .row-data-right {
    display : flex;
    justify-content: flex-end;
    align-items: center;
    padding : 0;
    margin : 0;
    max-width: 50%;
}

#nftgram-list .card-body .row .row-data-right > span {
    margin-left: 0.3rem;
    font-size: 0.95rem;
}

#nftgram-list .card-body img.card-img-user {
    width: 1.575rem;
    height: 1.575rem;
    margin-right: 0.3rem;
}
#nftgram-list .card-body .row data-text{
    border:5px solid lawngreen;
}
#nftgram-list .card-body .card-text-data {
    /*border: 4px solid firebrick;*/
    text-align: end;
    padding-right: 0.5rem;
    margin-bottom: 0;
}

.search-box .position-box {
    border-radius: 15px;
    width: 13.562rem;
    height: 2.25rem;
    background: #000000;
    color: #ffffff;
    padding: 6px 0.813rem 0.188rem 1rem;

}
.search-box .close{
    color: white;
    cursor: pointer;
}

.gallery-container .search-box {
    width: fit-content;
    position: absolute;
    top: 5%;
    left: 5%;
}

#nftgram-wallet {position: relative;top:10rem;font-weight: 600;}
#nftgram-wallet .wallet-content {margin: 0 auto;height:10.563rem;text-align: center;}
#nftgram-wallet .wallet-content .title {}
#nftgram-wallet .wallet-content .wallet-btn-group{margin:auto;width:100%;height: 3.6rem;}
#nftgram-wallet .wallet-content .wallet-btn-group .btn-metamask{width:18rem;height: 90%;padding-left:3rem;border: 1px solid #707070;border-radius: 0.2rem;color: #b1b1b1;font-size: 1.25rem;font-weight:600;background: url("/img/icon/metamask_icon.png") center left no-repeat;background-size: 2.1rem;background-position-x: 3.2rem;}
#nftgram-wallet .wallet-content .wallet-msg{font-size: 1.25rem;color: #b1b1b1;}

#navigation-top .wallet-wrap {display: none;position: absolute;top: 3.5rem;right: 0rem;z-index: 999;border: 1px solid black;background-color: white; width: 35%}
#navigation-top .wallet-wrap.on {display: block; color: black;}
#navigation-top .wallet-wrap:hover {display: block;}
#navigation-top .wallet-wrap .wallet-user-wrap{border-bottom: 1px solid #b1b1b1;background: url("/img/icon/ic-gallery-profile.svg") left center no-repeat;background-size: 1.875rem 1.875rem;background-position-x: 0.5rem;padding-left: 3rem;}
#navigation-top .wallet-wrap .wallet-user-wrap .wallet-user-title{font-size: 1.1rem;}
#navigation-top .wallet-wrap .wallet-user-wrap .balance-price{font-size:1rem;font-weight: bold;}
#navigation-top .wallet-wrap .wallet-user-wrap .balance-price:after{content:' ETH'}
#navigation-top .wallet-wrap .wallet-list{}
#navigation-top .wallet-wrap .wallet-list .wallet-row{
    padding: 0.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mywallet.on {
    border-bottom : solid 1px rgb(26,83,232);
}
#navigation-top .wallet-wrap .wallet-list .wallet-row span{padding-right: 0.5rem;}
#navigation-top .wallet-wrap .wallet-list .wallet-row span.address {
    width: 85%;
    overflow : hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#navigation-top .wallet-wrap .wallet-list .wallet-row span img{cursor: pointer;}
#navigation-top .wallet-wrap .wallet-list .wallet-row .address.active{font-weight: bold;}
#navigation-top .navbar .second-nav-flex {
    flex-wrap: nowrap;
}

#navigation-top .navbar .second-nav-flex .d-flex {
    justify-content: flex-end;
}

#navigation-top .navbar .second-nav-flex .navbar-nav {
    flex-direction: row;
    margin: 0 !important;
    justify-content: flex-end;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.d-flex {
    height: 2.375rem;
}

@media screen and (max-width: 1600px) {
    #nftgram-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 1300px) {
    #nftgram-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
    #nftgram-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 769px) {
    #nftgram-list {
        grid-template-columns: repeat(1, 1fr);
    }

    #navigation-top .wallet-wrap {width: 60%}

    .navbar-nav-mobile {
        display: flex;
    }

    .navbar-nav-mobile > li:not(:last-child) {
        margin-right: 1rem;
    }

    .container {
        padding : 0 1rem;
    }

    #navigation-top .navbar .container {
        padding : 0 1rem;
        justify-content: flex-end;
    }

    #navigation-top .navbar .second-nav-flex {
        flex-wrap: nowrap;
    }

    #navigation-top .navbar .second-nav-flex .d-flex {
        justify-content: flex-end;
    }

    #navigation-top .navbar .second-nav-flex .navbar-nav {
        flex-direction: row;
        margin: 0 !important;
        justify-content: flex-end;
    }

    #navbarSupportedContent .d-flex ul li:not(:first-child) {
        margin-left: 0.7rem;
    }

    #navigation-top .navbar .second-nav-flex .navbar-nav > li:nth-child(3), #navigation-top .navbar .second-nav-flex .navbar-nav > li:nth-child(4), #navigation-top .navbar .second-nav-flex .navbar-nav > li:nth-child(5) {
        display: none;
    }

    #navigation-top .navbar .input-group {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 1rem;
    }

    .input-group > .input-group-left button.me-2 {
        margin-right: 0 !important;
    }

    .input-group > .input-group-right {
        justify-content: flex-end;
    }

    .input-group > .input-group-right > div:last-child {
        margin-left: 0.5rem;
    }

    #list-view-btn {
        margin-right: 0 !important;
    }
}

/*.card:hover::before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 301px;*/
/*    background-color: rgba(0,0,0,0.1);*/
/*    border-radius: 0.25rem;*/
/*}*/

body {
    font-size: 1.2rem;
    line-height: normal;
}

.view-icon {
    width: 1.3rem;
    height: 1.2rem;
    object-fit: fill;
}

.like-icon {
    height: 1.1rem;
    object-fit: fill;
}